span, li a{
  color: rgba(255, 255, 255, 0.85)
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: rgba(255, 255, 255, 0.85)
}

.dropdown-menu-dark {
  background-color: #19191B
}