:root {
  --cor-fundo: #19191B;
}
html {
  font-family: 'Open Sans', sans-serif;
  
}

body {
  display: flex;
  // align-items: center;
  justify-content: center;
  height: 100vh;
  // overflow: hidden;
  background-color: var(--cor-fundo);
}

hr {
  margin-bottom: 40px;
  color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 768px) {
  body {
    display: block;
    height: 100vh;
    background-color: var(--cor-fundo);
  }

}




